.wrapper {
    padding-top: 150px;
    width: 65%;
    margin: 0 auto;
}

.table {
    margin-top: 75px;
}

#tooltip {
    position: absolute;
    width: 700px;
    top: 10px;
    left: 400px;
    z-index: 1;
    border: 1px solid black;
    padding: 10px;
    background-color: deepskyblue;
}

span#errorField {
    color: red;
}

#studentInputForm {
    border-right: 1px solid grey;
}

#grid1 {
    padding: 0;
    height: 325px;
    margin: 0 0 0 15px;
}