* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0 auto;
    width: 600px;
}
body:after {
    content: "";
    display: table;
    clear: both;
}

.game {
    padding-left: 100px;
}
.game:after {
    content: "";
    display: table;
    clear: both;
}

section {
    margin: auto;
    background-color: lightblue;
}
section:after {
    content: "";
    display: table;
    clear: both;
}

table.Sudoku {
    margin: 0 auto;
}

td {
    color: grey;
    border: 2px solid black;
    font-weight: 600;
}

td {
    width: 40px;
    height: 40px;
    font-size: 18pt;
    font-family: "Helvetica", sans-serif;
    text-align: center;
}

.nestedTable {
    float: left;
}

.nestedTable:nth-child(3n+2) {
    clear: left;
}

.nestedTable:nth-child(even) td {
    background-color: #E0F0FF;
}

.nestedTable:nth-child(odd) td {
    background-color: #FFFFFF;
}