<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Lab 4 - Angular</title>
    <link rel="stylesheet" type="text/css" href="INFT4000_Lab2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="studentController">
<div id="studentInputForm">
    <form id="inputNewStudent" autocomplete="off" ng-submit="addNewStudent()">
        <h3>Add New Student</h3><br>
        <label for="studentID">Student ID:</label>
        <input id="studentID" type="text" name="studentID" ng-model="id" ng-focus="clearError()"><br/>

        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" name="firstName" ng-model="fName" ng-focus="clearError()"><br/>

        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text" name="lastName" ng-model="lName" ng-focus="clearError()"><br/>
        <input id="submitStudent" type="submit" value="Submit">
        <span id="errorField">{{errorText}}</span>
    </form>
</div>
<div id="studentList">
    <ul id="displayStudents">
        <li>{{id}} {{fName}} {{lName}}</li>
        <li ng-repeat="student in students" ng-mouseover="showJSON()">{{student.id}}, {{student.fName}}
            {{student.lName}}
        </li>
    </ul>
</div>
<div id="tooltip" ng-show="displayJSON" ng-click="hideTooltip()">{{textJSON}}</div>
</body>
</html>